html, body{
margin:0;
padding:0;
}

#fixed {
position:fixed;
width:380px;
top:0px;
right:100px;
}

* html {
overflow: hidden;
}

* html body,
* html #wrapper {
height:100%;
overflow:auto;
}

* html #fixed {
position:absolute;
}