/* CSS Document */

body {
	margin: 0;
	font-size: 12px;
}
.content {
	position: relative;
	width: 400px;
	margin: 30px auto;
	background-color: #CCFFCC;
}
#test-position {
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.position-absolute {
	background-color: #003399;
	color: #FFF;
}
.position-static {
	background-color: #FF6600;
	color: #FFF;
}
.position-relative {
	background-color: #6666FF;
	color: #FFF;
}
.position-fixed {
	background-color: #66CCCC;
	color: #FFF;
}
.link-static {
	background-color: #99CCCC;
	color: #FFF;
}
.link-relative {
	background-color: #009933;
	color: #FFF;
}
