/* CSS Document */

.position-absolute {
	position: absolute;
	background-color: #003399;
	color: #FFF;
	top: 100px;
	left: 20px;
}
.position-static {
	position: static;
	background-color: #FF6600;
	color: #FFF;
	width: 200px;
	top: 100px;
	left: 20px;
}
.position-relative {
	position: relative;
	background-color: #6666FF;
	color: #FFF;
	width: 200px;
	top: -100px;
	left: 50%;
}
.position-fixed {
	position: fixed;
	background-color: #66CCCC;
	color: #FFF;
	width: 200px;
	top: 50px;
}
.link-static {
	position: static;
	background-color: #99CCCC;
	color: #FFF;
	width: 100px;
}
.link-relative {
	position: relative;
	background-color: #009933;
	color: #FFF;
	display: block;
	width: 100px;
    top: -100px;
}
